<html>
    <head>
        <title>
            Wine Quality
        </title>
    </head>

    <body>
        <br><br><br><br><br><br>
        <center>
        <h3>Input Wine Data</h3><br>
        <form action="./result" method="POST">
        fixed acidity <input type="number" id='i1' step="0.001"><br><br>
        volatile acidity <input type="number" id='i1' step="0.001"><br><br>
        citric acid	<input type="number" id='i1' step="0.001"><br><br>
        residual sugar <input type="number" id='i1' step="0.001"><br><br>
        chlorides <input type="number" id='i1' step="0.001"><br><br>
        free sulfur dioxide	<input type="number" id='i1' step="0.001"><br><br>
        total sulfur dioxide <input type="number" id='i1' step="0.001"><br><br>
        density	<input type="number" id='i1' step="0.001"><br><br>
        pH <input type="number" id='i1' step="0.001"><br><br>
        sulphates <input type="number" id='i1' step="0.001"><br><br>
        alcohol <input type="number" id='i1' step="0.001"><br><br><br>
        <input type="submit",value="SUBMIT"></form>
        </center>
    </body>
</html>
